<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="profId">Mise à jour Professeur</ion-title>
    <ion-title *ngIf="!profId">Création Professeur</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <form class="list-form" [formGroup]="formProfesseur" (ngSubmit)="validate()">
        <ion-item class="animated fadeInUp">
          <ion-label position="floating">Nom:</ion-label>
          <ion-input type="text" formControlName="nom"
                     color="generale"></ion-input>
        </ion-item>
        <ion-item class="animated fadeInUp">
          <ion-label position="floating">Prénom:</ion-label>
          <ion-input type="text" formControlName="prenom"
                     color="generale"></ion-input>
        </ion-item>

        <ion-item class="animated fadeInUp">
          <ion-label position="floating">Email:</ion-label>
          <ion-input type="email" formControlName="mail"
                     color="generale"></ion-input>
        </ion-item>

        <ion-item class="animated fadeInUp">
          <ion-label position="floating">Téléphone:</ion-label>
          <ion-input type="tel" formControlName="telephone"
                     color="generale"></ion-input>
        </ion-item>

        <div class="ion-padding">
          <ion-button *ngIf="!profId" expand="block" fill="outline" (click)="validate()" [disabled]="!formProfesseur.valid" >Ajouter</ion-button>
          <ion-button *ngIf="profId" expand="block" fill="outline" (click)="validate()" [disabled]="!formProfesseur.valid" >Modifier</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
